body {
  margin: auto;
  font-family: "Karla", sans-serif;
}
#banner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: whitesmoke;
  background-color: black;
  padding: 15px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}

#first {
  display: flex;
  justify-content: center;
  align-items: center;
}

#second {
  color: whitesmoke;
  background-color: black;
  margin: 10px auto;
  padding: 10px 10px;
}
.center {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
